<div class="reset-wrapper">
  <div class="reset-container">
    <h2>Reset Password</h2>
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="you@example.com" [(ngModel)]="resetPassword.email" required>

      <label for="newPassword">New Password</label>
      <input type="password" id="Password" name="Password" placeholder="password" [(ngModel)]="resetPassword.Password" required>

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm password"  [(ngModel)]="resetPassword.confirmPassword" required>

      <button type="submit">Set Password</button>

      <div class="options">
        <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</div>
